.history
.history*
.vscode
.vscode/*
config.json
cryptos.json
panels.json
main
jxcryptowatcher
core/local.go
build/*
scripts/*
scripts
fetcher
fetcher/*
data_json
data_json/*
assets/windows/rsrc_windows*
assets/rsrc_windows*
assets/jxwatcher.zip
rsrc_windows*
experimental
fyne_metadata_init.go
ghtoken.txt
robotgo/build/*
robotgo/screenshots/*
robotgo/*
robotgo
*/*.old