.history
.history*
.vscode
.vscode/*
config.json
cryptos.json
panels.json
main
jxcryptowatcher
build/*
assets/windows/rsrc_windows*
assets/rsrc_windows*
rsrc_windows*
experimental
fyne_metadata_init.go
*/*.old